<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
</head>
<body>
    <div class="content">        
        <div class="timer">
            <div id="time">60:00</div>
        </div>
        <form action="/ans/" method="POST">
            {% csrf_token %}
            <h3>Question1 :</h3>Yellow power mainly obtained from pyrites and petroleum residues is key raw material.
            <textarea name="answer1" placeholder="Enter your answer here.."></textarea>
            <br>
            <h3>Question2 :</h3>Brown/yellow amphoteric oxide and is used as 1 of the industrial oxidizing catalyst. Identify catalyst?
            <textarea name="answer2" placeholder="Enter your answer here.."></textarea>
            <br>
            <h3>Question3 :</h3>Product is a major industrial reagent used as drying and oxidizing agent! It's atmanirbhar for production , identify it.
            <textarea name="answer3" placeholder="Enter your answer here.."></textarea>
            <br>
            <h3>Question4 :</h3>Identify the named process.
            <textarea name="answer4" placeholder="Enter your answer here.."></textarea>
            <br>
            <input type="submit" name="ansbtn" id="ansbtn" value="SUBMIT"/>
        </form>
    </div>
    <script type="text/javascript">  
        loadtimer();
    </script>
</body>
</html>