<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
</head>
<body>
    <div class="content">        
        <form action="/ans1/" method="POST">
            {% csrf_token %}
            <h3>Question1 :</h3>What is your hoby..??
            <br>
            <textarea name="answer1" placeholder="Enter your answer here.."></textarea>
            <br>
            <input type="submit" name="ans1btn" value="NEXT"/>
        </form>
    </div>
</body>