<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
</head>
<body>
    <div class="content">
        <div class="content-center">
        <h1>Thank You...</h1>
            <form action="/logout/">
                {% csrf_token %}
                <input type="submit" name="ans1btn" value="Logout"/>
            </form>        
        </div>
    </div>
</body>